<?xml version="1.0" encoding="UTF-8"?>
<!-- https://docs.phpunit.de/en/10.3/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>

  <php>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
  </php>

  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
